player-connection-mode=Listen
player-connection-guid=1979280605
player-connection-debug=1
player-connection-project-name=joc-licenta
player-connection-ip=172.25.192.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.142
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cf11400389804de8987e35dee87342eb
